@font-face {
    font-family: Bankai;
    src: url('/bankai.otf') format('opentype');
}

body {
    background-image: url('/images/bg.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

* {
    font-family: Bankai;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
