/* @font-face {
    font-family: "DK-DDG";
    src: url('/DK-Drop-Dead-Gorgeous.otf') format('opentype');
} */

@font-face {
    font-family: HinaMincho;
    src: url('/HinaMincho-Regular.ttf');
}

body, html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-image: url('/images/genu-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    cursor: url(/pointer-walnut.cur), auto;
}

* {
    font-family: HinaMincho;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



.masked-overflow {
    --scrollbar-height: 8px;
    --mask-width: 48px;
    overflow-x: auto;
    overflow-y: hidden;

    --mask-image-content: linear-gradient(
        to right,
        transparent,
        black var(--mask-width),
        black calc(100% - var(--mask-width)),
        transparent
    );

    --mask-size-content: 100% 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: 0 100%;

    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
}

/* Firefox */
.masked-overflow {
    scrollbar-width: thin; /* can also be normal, or none, to not render scrollbar */
    scrollbar-color: #AEAD8F transparent; /* foreground background */
}

/* Webkit / Blink */
.masked-overflow::-webkit-scrollbar {
    height: 8px;
}

.masked-overflow::-webkit-scrollbar-thumb {
    background-color: #AEAD8F;
    border-radius: 9999px; /* always round */
}

.masked-overflow::-webkit-scrollbar-track {
    background-color: transparent;
}

.soul-video {
    height: 40%;
    border: 8px solid #544736;
}

.soul-video:hover {
    border: 8px solid #8b542b;
}

* {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
